<div>
    <input type="text" placeholder="codice" [(ngModel)]="sconto.codice">&nbsp;
    <input type="text" placeholder="descrizione" [(ngModel)]="sconto.descrizione">&nbsp;
    <input type="text" placeholder="dalla data" [(ngModel)]="sconto.dallaData">&nbsp;
    <input type="text" placeholder="alla data" [(ngModel)]="sconto.allaData">&nbsp;
    <input type="text" placeholder="sconto" [(ngModel)]="sconto.prezzoScontato">&nbsp;
    <button (click)="nuova()">Nuova</button>
    <br><br>
    <button (click)="modifica()">Modifica</button>
    <button (click)="annulla()">Annulla</button>
    <button (click)="conferma()">Conferma</button>
    <button (click)="rimuovi()">Rimuovi</button>

</div>
<br><br>
<input type="text" placeholder="Cerca per codice" [(ngModel)]="criterioRicerca">&nbsp;
<button (click)="cerca()">Cerca</button>
<br><br>
<table border=3px>
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Sconto</th>
        <th>Dalla Data</th>
        <th>Alla Data</th>
    </tr>
    <tr *ngFor="let s of sconti">
        <td>{{s.codice}}</td>
        <td>{{s.descrizione}}</td>
        <td>{{s.prezzoScontato}}</td>
        <td>{{s.dallaData}}</td>
        <td>{{s.allaData}}</td>
    </tr>
</table>