<body>
    <div class="barranav">
        <a href="app-home-page1">Home page</a>
    </div>

    <div class="titolo">
        <h2>Anagrafica Sconto</h2>
    </div>
    <div *ngIf="form">
        <input type="text" placeholder="codice" [(ngModel)]="sconto.codice" [disabled]="codiceInput">&nbsp;
        <input type="text" placeholder="descrizione" [(ngModel)]="sconto.descrizione" [disabled]="codiceInput">&nbsp;
        <input type="date" placeholder="dalla data" [(ngModel)]="sconto.dallaData" [disabled]="codiceInput">&nbsp;
        <input type="date" placeholder="alla data" [(ngModel)]="sconto.allaData" [disabled]="codiceInput">&nbsp;
        <input type="text" placeholder="sconto" [(ngModel)]="sconto.prezzoScontato" [disabled]="codiceInput">&nbsp;
        <br><br>
        <button (click)="modifica()" *ngIf="edit">Modifica</button>
        <button (click)="annulla()" *ngIf="annull">Annulla</button>
        <button (click)="conferma()" *ngIf="conf">Conferma</button>
        <button (click)="rimuovi()" *ngIf="remove">Rimuovi</button>
    </div>
    <br>
    <br>
    <button (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br><br>
    <div *ngIf="search">
        <input type="text" placeholder="Cerca per codice" [(ngModel)]="criterioRicerca" [disabled]="codiceInput">&nbsp;
        <button (click)="cerca()">Cerca</button>
    </div><br><br>
    <div class="tabella">
        <table *ngIf="tabella">
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Sconto</th>
                <th>Dalla Data</th>
                <th>Alla Data</th>
                <th>Azioni</th>
            </tr>
            <tr *ngFor="let s of sconti">
                <td>{{s.codice}}</td>
                <td>{{s.descrizione}}</td>
                <td>{{s.prezzoScontato}}%</td>
                <td>{{s.dallaData}}</td>
                <td>{{s.allaData}}</td>
                <td><button (click)="seleziona(s)">Seleziona</button></td>
            </tr>
        </table>
    </div>
</body>