<body>
<div class="barranav">
    <a href="app-home-page1">Home page</a>
</div>

<div class="titolo">
    <h2>Dashboard Hispanici</h2>
</div>

<input type="text" [(ngModel)]="barcode" placeholder="barcode" *ngIf="ean"  (keydown.tab)="leggiEan()" autofocus>
<br>
<br>
<br>
<button (click)="vediPrezzo()" *ngIf="vediPrezzoVis">Vedi Prezzo</button>
<button (click)="chiudiScontrino()" *ngIf="chiudi" [disabled]="chiudiEnabled">Chiudi Scontrino</button>
<button (click)="annullaScontrino()" *ngIf="annullaScontrinoVis" [disabled]="annullaScontrinoEnabled">Annulla Scontrino</button>
<button (click)="conferma()" *ngIf="confermaVis" [disabled]="confermaEnabled">Conferma</button>
<button (click)="annulla()" *ngIf="annullaVis" [disabled]="annullaEnabled">Annulla</button>
<button (click)="stornaUltimo()" *ngIf="storna">Storna Ultimo</button>

<p *ngIf="prezzo"> Prezzo : {{prezzoTot}}</p>

Ultimo elemento : {{descrizioneE}}, {{prezzoE}}
<br>
<br>
<br>
<div class="tabella">
    <!--*ngIf="table"--> 
    <!--da reinserire appena pronte le variazioni grafiche per gli stati-->
<table >
    <tr>
        <th>Quantità</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
    </tr>
    <tr *ngFor="let p of prodotti">
        <td></td>
        <td>{{p.descrizione}}</td>
        <td>{{p.prezzo}}</td>
    </tr>
</table>
</div>
</body>