<body>
    <div class="barranav">
        <a href="app-home-page1">Home page</a>
    </div>

    <div class="titolo">
        <h2>Dashboard Macedoni</h2>
    </div>
    <input type="text" [(ngModel)]="barcode" placeholder="barcode" *ngIf="ean" (keydown.tab)="ricercaEan()" autofocus>
    <p *ngIf="errore">ean non trovato</p>
    <br>
    <br>
    <br>
    <button (click)="vediPrezzo()" *ngIf="vediPrezzoV">Vedi Prezzo</button>
    <button (click)="chiudiScontrino()" *ngIf="chiudi" [disabled]="chiudiEnabled">Chiudi Scontrino</button>
    <button (click)="annullaScontrino()" *ngIf="annullaScontrinoV" [disabled]="annullaScontrinoEnabled">Annulla
        Scontrino</button>
    <button (click)="conferma()" *ngIf="confermaV" [disabled]="confermaEnabled">Conferma</button>
    <button (click)="annulla()" *ngIf="annullaV" [disabled]="annullaEnabled">Annulla</button>
    <button (click)="stornaUltimo()" *ngIf="storna">Storna Ultimo</button>

    <p *ngIf="prezzo"> Prezzo : {{prezzoTot}} €</p>

    <p *ngIf="ultimoProdotto.id">Ultimo elemento : {{ultimoProdotto.descrizione}}, {{ultimoProdotto.prezzo}} € </p>
    <br>
    <br>
    <br>
    <div class="tabella">
        <!--*ngIf="table"-->
        <!--da reinserire appena pronte le variazioni grafiche per gli stati-->
        <table *ngIf="listaScontrino">
            <tr>
                <th>Quantità</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
            <tr *ngFor="let p of Prodotti">
                <td>{{p.codice}}</td>
                <td>{{p.prodotto.descrizione}}</td>
                <td>{{p.prodotto.prezzo}} €</td>
            </tr>
        </table>
    </div>
</body>