* {
    box-sizing: border-box;
  }

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

.header {
    padding: 30px;
    text-align: center;
    background: white;
  }

  .link {
    overflow: hidden;
    background-color: #333;
  }

  .link a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 