<body>
    <div class="barranav">
        <a href="app-home-page1">Home page</a>
    </div>

    <div class="titolo">
        <h2>Anagrafica Cassa</h2>
    </div>

    <div *ngIf="form">
        <input type="text" placeholder="Codice" [(ngModel)]="cassa.codice" [disabled]="codiceInput">

        <button (click)="modifica()" *ngIf="edit">Modifica</button>
        <button (click)="annulla()" *ngIf="annull">Annulla</button>
        <button (click)="conferma()" *ngIf="conf">Conferma</button>
        <button (click)="rimuovi()" *ngIf="remove">Rimuovi</button>

    </div>

    <button (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br>
    <br>


    <div *ngIf="search">
        <input type="text" [(ngModel)]="inputRicerca" placeholder="Cerca per codice">
        <button (click)="cerca()">Cerca</button>
    </div>
    <br>
    <br>
    <div class="tabella">
    <table *ngIf="tabella">
        <tr>
            <th>Codice</th>
            <th>Seleziona</th>
        </tr>
        <tr *ngFor="let c of casse">
            <td>{{c.codice}}</td>
            <td><button (click)="seleziona(c)">Seleziona</button></td>
        </tr>
    </table>
</div>
</body>