<body>
  <div class="titolo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <h1>Benvenuto in Scarsefour</h1>
    <p>Il nostro supermercato digitale</p>
  </div>
  <div class="link">
    <a href="app-home-page">Animazione</a>
    <a href="/app-anagrafica-prodotti">Anagrafica Prodotti</a>
    <a href="app-anagrafica-casse">Anagrafica Cassa</a>
    <a href="app-anagrafica-cassiere">Anagrafica Cassiere</a>
    <a href="app-anagrafica-sconto">Anagrafica Sconto</a>
    <a href="app-dashboard-cassa-ill">Dashboard Cassa Ill</a>
    <a href="app-dashboard-cassa-his">Dashboard Cassa his</a>
  </div>
</body>
<div class="sfondo">
  <img [src]=immagine1>
</div>
<div class="fondo">
  <p>Realizzato dai ragazzi del corso "Analista programmatore Java" 2020/2021</p>
</div>