<h2>Anagrafica Prodotti</h2>
<div *ngIf='form'>
    <input type="text" placeholder="codice" [(ngModel)]="prodotto.codice" [disabled]="codice">&nbsp;
    <input type="text" placeholder="descrizione" [(ngModel)]="prodotto.descrizione" [disabled]="descrizione">&nbsp;
    <br><br>
    <button (click)="modifica()">Modifica</button> &nbsp;
    <button (click)="conferma()">Conferma</button>&nbsp;
    <button (click)="annulla()">Annulla</button>&nbsp;
    <button (click)="rimuovi()">Rimuovi</button>&nbsp;
</div>

<button (click)="nuova()" *ngIf="aggiungi">Nuova</button>
<br><br>
<div *ngIf="search">
    <input type="text" placeholder="Cerca per codice" [(ngModel)]="inputRicerca">&nbsp;
    <button (click)="cerca()">Cerca</button>
</div>
<br><br>

<table *ngIf="tabella">
    <tr>
        <th>EAN</th>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>Scorta minima scaffale</th>
        <th>Scorta minima magazzino</th>
        <th>Lotto riordino</th>
        <th>Seleziona</th>
    </tr>
    <tr *ngFor="let p of prodotti">
        <td>{{p.ean}}</td>
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td>{{p.prezzo}}</td>
        <td>{{p.scortaMinimaScaf}}</td>
        <td>{{p.scortaMinimaMag}}</td>
        <td>{{p.lottoRiordino}}</td>
        <td>
            <button (click)="seleziona(p)">Seleziona</button>
        </td>
    </tr>
</table>