<input type="text" [(ngModel)]="barcode" placeholder="barcode" [disabled]="eanE" *ngIf="ean">
<br>
<br>
<br>
<button (click)="vediPrezzo()" *ngIf="vediPrezzoV">Vedi Prezzo</button>
<button (click)="chiudiScontrino()" *ngIf="chiudi" [disabled]="chiudiE">Chiudi Scontrino</button>
<button (click)="annullaScontrino()" *ngIf="annullaScontrinoV" [disabled]="annullaScontrinoE">Annulla Scontrino</button>
<button (click)="conferma()" *ngIf="confermaV" [disabled]="confermaE">Conferma</button>
<button (click)="annulla()" *ngIf="annullaV" [disabled]="annullaE">Annulla</button>
<button (click)="stornaUltimo()" *ngIf="storna">Storna Ultimo</button>

<p *ngIf="prezzo"> Prezzo : {{prezzoTot}}</p>
<br>
Ultimo elemento : {{descrizioneE}}, {{prezzoE}}
<br>
<br>
<br>
<table *ngIf="table">
    <tr>
        <th>Quantità</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>